* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #f0f0f0;
}

header {
  margin-inline: 15%;
  padding-block: 2.5rem;
  text-align: center;
  border-bottom: 1px solid #424242;
}

main {
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  margin-inline: 15%;
  padding-inline: 15%;
}

h2 {
  margin-block: 2rem;
}

h3 {
  margin-block: 1rem;
}

h2,
h3 {
  font-weight: 600;
}

li {
  margin-block: 0.5rem;
  margin-left: 3rem;
}

p {
  line-height: 1.5em;
}

img {
  margin-block: 2rem;
  max-width: 100%;
  max-height: 100%;
}

footer {
  margin-block: 2rem;
  margin-inline: 15%;
  padding-block: 2rem 5rem;
  padding-inline: 15%;
  border-top: 1px solid #424242;
  font-weight: 300;
  font-style: italic;
}

@media (max-width: 850px) {
  main,
  footer {
    padding-inline: 5%;
  }
}

@media (max-width: 600px) {
  main,
  footer {
    padding-inline: 0;
  }

  li {
    margin-left: 1rem;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 1.5rem;
  }
}
